/* GENERAL */
.body {
    background-color: #191818;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.logoCross {
    margin-top: 20px
}


.menuPrincipal {   
    margin-right: 15px;
    font-family: 'Poppins', sans-serif;
    text-align:center;
    list-style-type: none;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
    width:100%;
    justify-content: start;

}

.menuPrincipal li{
    display: inline;
    text-decoration: none;
    float: top right;
    margin: 15px;

}
.menuPrincipal a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ebeaea;
}

.menuPrincipal a:hover {
    color:#fb6c3c;
    text-decoration: underline;

}

ul {
    list-style: none;
    font-size:0; 
}
li {
    display: inline-block;
    width: 25%;
    position:relative;
    font-size:1.5rem;

}
ul ul {
    position: fixed;
    top: 30px;
    left: 55%;
    display: none;
}
ul ul li {
    display:block;
}


ul li:hover ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    font-size: 0.5rem;
    color: #fb6c3c;

}

.menu {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    width: 80%;
    margin-top: 35px;
    margin-bottom: 0;
    top: 10px; left: 40px;
    color:#EBEAEA;
    width: 100vw;
    text-decoration: none;
}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
    font-size: 1rem;
    color: #EBEAEA;

}

.menu a:hover{
    text-decoration: underline;
    color: #ebeaea;
}

.menu li {
    display: inline;
    text-align: right;
    padding: 2px 7px 2px 7px;
    margin: 0 10px 0 0;
}

.menuOtros {
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
}

.menuOtros a {
    display:inline;
    list-style-type: none;
    text-decoration: none;
    text-transform: uppercase;
    color:#EBEAEA;
}

.menuOtros a:hover {
    color: #fb6c3c;
}

.menuOtros li {
    display: inline;
    float: top right;
    margin: 15px;
}

.footer {
    background-color: #191818;
    font-family: 'Poppins', sans-serif;
    color: #EBEAEA;
}

.parrafoFooter {
    color: #EBEAEA;
    font-family: 'Poppins', sans-serif;
}



/* Index */

.imagenFondo {
    background-image:url(../Imagenes/Cross.jpg)  ;
    background-size:cover;
    width: 100%; 
    position: relative;
    height: 1000px;

}

.boton {
    background-color: #191818;
    font-family: 'Poppins', sans-serif;
    font-size:large;
    width: 170px;
    color: #EBEAEA;
    height:50px;
    text-align: center;
    justify-content: center;
    position: relative;
    top: 600px;
    left: 600px; 
    border-radius: 1px;
    border-color: #EBEAEA;

}

.boton:hover{
    background-color: #ebeaea;
    color: #fb6c3c;
    border-color: #fb6c3c;
}




.w-100 {
    width: 50%!important;
}
.carousel-item {
    position: relative;
    align-items: center;
    display: none;
    float: left;
    width: 100%;
    margin: 0 24% 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: transform .6s ease-in-out;
}
/* grilla */

.filosofia {
    grid-area: principal;
}
.galeria {
    grid-area: galeria;
}
.publicidad {
    grid-area: publicidad;
    height: 650px;
    font-family: 'Poppins', sans-serif;
    width:80%;
}
.formulario{
    grid-area: formulario;
}
.menu {
    grid-area: pieDepagina;
}

/** Filosofia**/
.filosofia {
    background-color: #191818;
    padding-top:50px;
}
.desafio1 {
    background-color: #191818;
    color: #ebeaea;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
    font-size: 300%;
}

.flex-container {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }

.mision {
    background-color: #191818;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fb6c3c;
    width: 30%;
    height: 200px;
    float: left;
    text-align: center;
    border-radius: 15px;
    margin: 15px;
    margin-top: 100px;  
}

.vision {
    background-color: #191818;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fb6c3c;
    width: 30%;
    height: 200px;
    float: left;
    text-align: center;
    border-radius: 15px;
    margin: 15px;
    margin-top: 100px;
}

.valores {
    background-color: #191818;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fb6c3c;
    width: 30%;
    height: 200px;
    float: left;
    text-align: center;
    border-radius: 15px;
    margin: 15px; 
    margin-top: 100px;
}

.instalaciones {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #EBEAEA;
    font-size: 1.6rem;
    margin-bottom: 50px;
    text-transform: uppercase;
}


.flexGaleria {
    display: flex;
    flex-wrap: wrap;
    align-content: 500px;
    justify-content: center;
}
.imagenesGaleria {
    margin: 10px 10px;
    border-radius: 8px;
    background-color: black;
    
}






.contactenos {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #EBEAEA;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-bottom: 150px;
    margin-top: 100px;
}

.enviar {
    background-color: #191818;
    color: #ebeaea;
    font-family: 'Poppins', sans-serif;
    width: 90px;
    height: 40px;
    margin-top:20px;
    margin-left: 110px;
    margin-bottom: 30px;
    border-radius: 8px;
    border-color:#ebeaea;
}

.enviar:hover {
      color: #fb6c3c;
      background-color: #EBEAEA;
}
.formuFlex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #fb6c3c;
    font-size: 25px;
    text-align: left;
    align-items:center;
    margin-top: 50px;
}
.Escribinos {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    height: 100px;
    margin-top: 100px;

}

.nombre {
   font-size: small;
   text-transform: lowercase;
   margin-top: 20px;
   text-align: left;
}

.apellido {
    margin-top: 20px;
    font-size: xx-small;
    text-align: left;
}

.correo {
    margin-top: 20px;
    text-align: left;
}

.Escribinos {
    margin:15px;
}

.publicidad {
    float:right;
}

.publicidad {
    float:right;
    color:#ebeaea;

}

.publicidad:hover {
    transform: rotate(4deg);
}

/* Actividades */


.dosPorUno {
    background-image: url(../Imagenes/2x1.jpg);
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    text-align: center;
    margin: 25px auto;
    padding-top: 40px;
    width: 350px;
    height: 200px;
    color: transparent;


}

.dosPorUno:hover{
    color: #fb6c3c;
    background-image: none;

}



.grupoFamiliar {
    background-image:url(../Imagenes/Familia.jpg);
    background-size: cover;
    text-align:center;
    margin: 25px auto;
    padding-top: 40px;
    width: 350px;
    height: 200px;
    color: transparent;
    font-family: 'Poppins', sans-serif;
}

.grupoFamiliar:hover {
    color: #fb6c3c;
    background-image: none;
}




.vertical {
    background-image: url(../Imagenes/Vertical.jpg);
    background-size:contain;
    margin: 25px auto;
    padding-top: 25px;
    width: 350px;
    height: 200px;
    text-transform:inherit;
    color:transparent; 
    font-family: 'Poppins', sans-serif;
    text-align: center;

}


.vertical:hover {
    color: #fb6c3c;
    background-image: none;
}
.tabla {
    background: linear-gradient(to top, #EBEAEA, #fb6c3c);
    width: 60%;
    text-align: center;
    margin: 0 auto;
}

.dias {
    background-color: #fb6c3c;
    color: #ebeaea;
    font-family: 'Poppins', sans-serif;
}

.horas {
    background-color: #fb6c3c;
    color: #EBEAEA;
    font-family: 'Poppins', sans-serif;
}

/* NOSOTROS */



.coaches {
    background-color: #fb6c3c;
    font-family: 'Poppins', sans-serif;
    color: #ebeaea;
    width: 30%;
    height: 100px;
    float: right;
    text-align: center;
    margin: 15px;  
    margin-right: 400px;
    margin-top: 50px;
    transform: rotate(-5deg);
    }

.coaches2 {

    background-color: #fb6c3c;
    font-family: 'Poppins', sans-serif;
    color: #ebeaea;
    width: 30%;
    float: left;
    height: 100px;
    text-align: center;
    margin: 15px;  
    margin-left: 300px;
    margin-top: 50px;
    transform: rotate(-5deg);

}



.coaches:hover {
    transform:rotate(5deg);
}

.coach {
    margin-left: 100px;
    transform: rotate(6deg);
}
.coach2 {
    margin-left:100px;
    transform:rotate(6deg);
}

.coach2:hover {
transform:scalez(2.1);
}
.coach:hover {
    transform:scaleZ(2.1);
}

.nombreCoach {
    color: #fb6c3c;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-left: 600px;
    transform:rotate(-5deg);
}


.nombreCoach2 {
    color: #fb6c3c;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    margin-left: 350px;
    transform:rotate(-5deg);
}



/* CAPACITACIONES */
.boxCursos {
    background-color: #fb6c3c;
    width: 350px;
    height: 350px;
    margin-left: 200px;
    border-radius: 8px;

}

.division {
    float: left;
}


.cursos {
    color: #EBEAEA;
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin-top: 20px;
}

.imagenCurso {
    align-content: center;
    padding: 40px;
    margin-left: 25px;
    margin-bottom: 40px;
    margin-top: -10px;
}

.textoCursos {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    color: #EBEAEA;
    margin-top: -75px;
    text-align: center;
}


.menuCapacitaciones {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    top: 10px; left: 40px;
    color:#EBEAEA;
    width: 100vw;
}

.menuCapacitaciones a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
    font-size: 1rem;
    color: #EBEAEA;

}

.menuCapacitaciones a:hover{
    text-decoration: underline;
    color: #ebeaea;
}

/** Contacto **/

.formularioContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #EBEAEA;
    padding-top: 45px;
    margin-top: 45px;
}



.contactoTexto {
    display:inline-flex;
    font-family: 'Poppins', sans-serif;
    color: #fb6c3c;
    font-size:1.2rem;
    float: left;
    height: 500px;
    width: 50%;
    margin-top: 50px;
    text-transform: uppercase;
}

.contactoParrafo {

    margin-left: 45px;
    margin-top:45px;
    align-items: center;
}

.mapaContacto {
    display:flex;
    float: right;
    width:50%;
    height: 500px;
    margin-top: 50px

}

/* Media Querys */

/*Dispositivo XS*/
@media (min-width: 0px) and (max-width:350px) {
    .grilla {
        display: grid;
        grid-template-areas: 
        "principal principal principal"
        "galeria galeria publicidad"
        "formulario formulario formulario"
        "pieDePagina pieDePagina pieDePagina";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 50vw 35vw 15vw;
    } 
    }

/* MEDIA QUERY*/

/*Dispositivo XS*/



/* MOTO G4 (360 x 640)*/

@media (min-width: 351px) and (max-width:516px) {
    .imagenFondo {
        width:100%;
        height:max-content;
    }

    .logoCross {

    display:none;
    }
    .boton {
        display:none;
    }

    .menuPrincipal {
    margin: 15px;
    padding: 15px;
    text-align: center;
    }



    .menu a {
        display:inline;
        font-size: 0.4rem;
    }

    .filosofia {

        margin:15px;
        padding:15px;
    }
    .flex-container {
        display: inline-block;
        margin-top: 20px;
    }
    .mision {
        width: 90%;
        height: 92px;
    }
    .vision {
        width: 90%;
        height: 92px;
    }

    .valores {
        width: 90%;
        height: 80px;   
        margin-top: 0;

    }

    .galeria1{

        padding-left: 20%;
    }

    .galeria2 {
     padding-left: 20%;
    }

    .publicidad {
        display:none
    }

    .nav {
        display: inline;
    }

    .parrafoFooter {
        display:none;
    }

    .grilla {
        display: grid;
        grid-template-areas: 
        "principal principal principal"
        "galeria galeria galeria"
        "formulario formulario formulario"
        "pieDePagina pieDePagina pieDePagina";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 50vw 35vw 15vw;
    }
    }




    /*Dispositivo LARGE*/

    @media (min-width: 517px) and (max-width:980px) {

        .imagenFondo {
            width:100%;
            height: 300px;

        }

        .menuPrincipal li {
            font-size: 0.8rem;
            display:inline;
            align-items: center;
    }

    .menu a {
        display:inline;
        font-size: 0.7rem;
    }


        .boton {
            display:none;
        }

        .logoCross {
            height: 60px;
            width: 60px;
        }

        .flex-container {
            display: inline-block;
            margin-top: 20px;
        }

        .mision {
            width: 90%;
            height: 10px;
            text-align: center;

        }
        .vision {
            width: 90%;
            height: 60px;
            text-align: center;
        }

        .valores {
            width: 90%;
            height: 60px;   
            margin-top: 0;
            text-align: center;
        }

        .galeria1{

            padding-left: 30%;
        }

        .galeria2 {
        padding-left: 30%;
        }

        .publicidad {
            display:none
        }

        .nav {
            display: inline;
        }

        .parrafoFooter {
            display:none;
        }

        .grilla {
            display: grid;
            grid-template-areas: 
            "principal principal principal"
            "galeria galeria galeria"
            "formulario formulario formulario"
            "pieDePagina pieDePagina pieDePagina";
            grid-template-rows: auto auto auto auto;
            grid-template-columns: 50vw 35vw 15vw;
        }



    }
